<include file="head" type="true"/>
<style type="text/css">
	body,html{_overflow-x:hidden;}
  .container-cnt textarea{height:400px;width:99%;font-size:14px;line-height:18px;}
  .container-cnt .alert{margin-top:5px;}
</style>
</script>
<script type="text/javascript">
function add_alarm(){
	var name=$("#field option:selected").text(),
		field=$("#field option:selected").val(),
		condition=$("#condition").val(),
		keyword=$.trim($("#keyword").val()),
		conditions={json_encode($conditions)};
		html='<tr>';
	if(keyword==""){
		$("#status").html("规则不能为空！");
		return false;
	}
	$("#field option:selected").remove();
	if($("#field option").length==0){
		$("#add_alarm").hide();
	}
	html+='<td style="text-align:right;"><input type="hidden" name="alarm['+field+'][name]" value="'+name+'">'+name+'</td>';
	html+='<td><select name="alarm['+field+'][condition]">';
	for(var key in conditions){
		html+='<option value="'+key+'" '+(key==condition?'selected="selected"':'')+'>'+conditions[key]+'</option>';
	}
	html+='</select></td>';
	html+='<td><input type="text" name="alarm['+field+'][keyword]" value="'+keyword+'" style="width:200px;" class="input-text" ></td>';
	html+='<td><input onclick="del_alarm(this)" type="button" value="删除" class="button" ></td>';
	html+='</tr>';
	$(".table_form tbody").append(html);
	$("#condition").val("contain");
	$("#keyword").val("");
	$("#status").html("保存中....");
	$("#myform").submit();
}
function del_alarm(obj){
	if(confirm("确定要删除吗？删除后报警规则会失效！")){
		var pObj=$(obj).parent().parent(),
		obj=pObj.find("input[type=hidden]"),
		field=obj.attr("name").replace(/^alarm\[/,"").replace(/\]\[name\]$/,""),
		value=obj.val();
		pObj.remove();
		$("#field").append('<option value="'+field+'">'+value+'</option>');
		$("#add_alarm").show();
		$("#status").html("删除中....");
		$("#myform").submit();
	}
}
$(function(){
	$("#myform").submit(function(){
		var url=$("#myform").attr("action");
		$.post(url,$("#myform").serialize(),function(res){
			$("#status").html(res.info);
			if($(".table_form tbody tr").length==0){
				$("#save_all").hide();
			}else{
				$("#save_all").show();
			}
		},"json");
		return false;
	});
});
</script>
</head>
<body>
	<style type="text/css">
		.table_form td{color:#444;}
	</style>
	
	<div class="container-cnt pad-10" style="padding-left:25px;">
		<div style="color:red;line-height:25px;">提示：默认已经包含民族为“维吾尔族/新疆”的报警信息</div>
		<form name="myform" id="myform" action="{plugin_url('houserent','init')}" method="post">
		<table class="table_form contentWrap">
				<thead>
			      <tr id="add_alarm">
			      	<td>
			      		<select id="field">
			      			<foreach name="alarm_fields" item="item">
				      			<option value="{$item.field}">{$item.name}</option>
			      			</foreach>
			      		</select>
			      	</td>
			      	<td>
			      		<select id="condition">
			      			<foreach name="conditions" item="item" key="key">
				      			<option value="{$key}">{$item}</option>
			      			</foreach>
			      		</select>
			      	</td>
			        <td>
			        	<input type="text" id="keyword" value="" style="width:200px;" class="input-text" >
			        </td>
			        <td>
			        	<input onclick="add_alarm()" type="button" value="添加规则" class="button" >
			        </td>
			      </tr>
		      </thead>
		      <tbody>
		      	<foreach name="configs" item="item" key="field">
			      <tr>
			      	<td style="text-align:right;">
			      		<input type="hidden" name="alarm[{$field}][name]" value="{$item.name}">
			      		{$item.name}
			      	</td>
			      	<td>
			      		<select name="alarm[{$field}][condition]">
			      			<foreach name="conditions" item="name" key="value">
				      			<option value="{$value}" {($value==$item['condition']?'selected="selected"':'')}>{$name}</option>
			      			</foreach>
			      		</select>
			      	</td>
			        <td>
			        	<input type="text" name="alarm[{$field}][keyword]" value="{$item.keyword}" style="width:200px;" class="input-text" >
			        </td>
			        <td>
			        	<input onclick="del_alarm(this)" type="button" value="删除" class="button" >
			        </td>
			      </tr>
			     </foreach>
		      </tbody>
		    
			    <tfoot>
			    	<tr>
			    	<td></td><td></td>
			        <td colspan="2" style="text-align:left;">
			        	<input id="save_all" {(empty($configs)?'style="display:none"':'')} onclick="$('#myform').submit()" type="button" value="全部保存" class="button" >
			        	<span id="status" style="color:red;margin-left:10px;"></span>
			        </td>
			      </tr>
			    </tfoot>
			</table>
			</form>
		</div>
</body>
</html>