<include file="admin/head"/>
<import file="content.js" check="true"/>
</head>
<body>
<form name="myform" id="myform" action="{act_url('content','push','catid='.$catid)}" method="post">
  <div style="width:630px;" class="table-list">
	    <table width="100%" cellspacing="0">
	        <thead>
	            <tr>
	            	<th style="text-align:center;width:60px;">选择</th>
	            	<th style="text-align:center;width:60px;">栏目ID</th>
	            	<th style="text-align:center;">栏目名称</th>
	            	<th style="text-align:center;width:60px;">数据量</th>
	            </tr>
	       	</thead>
	        <tbody>
	            {$categorys}
	        </tbody>
	    </table>
	</div>
	<input type="hidden" name="ids" value="{$_GET['ids']}"/>
</form>
</body>
</html>