<div id="services" class="services">
	<div class="container">
		<div class="service-head one text-center ">
			<h4>TA是做什么的呢？</h4>
			<h3>我的 <span>服务</span></h3>
			<span class="border two"></span>
		</div>
		<!--% services-grids %-->
		<div class="wthree_about_right_grids w3l-agile">
			<div class="col-md-6 wthree_about_right_grid">
				<div class="col-xs-4 wthree_about_right_grid_left">
					<div class="hvr-rectangle-in">
						<i class="glyphicon glyphicon-pencil"></i>
					</div>
				</div>
				<div class="col-xs-8 wthree_about_right_grid_right">
					<h4>Web Design</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-6 wthree_about_right_grid">
				<div class="col-xs-4 wthree_about_right_grid_left">
					<div class="hvr-rectangle-in">
						<i class="glyphicon glyphicon-cog"></i>
					</div>
				</div>
				<div class="col-xs-8 wthree_about_right_grid_right">
					<h4>Web Design</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-6 wthree_about_right_grid">
				<div class="col-xs-4 wthree_about_right_grid_left">
					<div class="hvr-rectangle-in">
						<i class="glyphicon glyphicon-leaf"></i>
					</div>
				</div>
				<div class="col-xs-8 wthree_about_right_grid_right">
					<h4>Web Design</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="col-md-6 wthree_about_right_grid">
				<div class="col-xs-4 wthree_about_right_grid_left">
					<div class="hvr-rectangle-in">
						<i class="glyphicon glyphicon-gift"></i>
					</div>
				</div>
				<div class="col-xs-8 wthree_about_right_grid_right">
					<h4>Web Design</h4>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="clearfix"> </div>
		</div>
		<!--% services-grids %-->
	</div>
</div>