<include file="admin/head"/>
<style type="text/css">
	body,html{overflow:hidden;}
	.common-form td{padding:5px 0px;line-height:20px;}
	.common-form .tips{color:#666;}
	.common-form select{margin-right:5px;}
</style>
<script type="text/javascript">
  $(function(){
	    $("#plugin_c").change(function(){
			   var cv=$(this).val();
		   	  $.ajax({
						  url:"?"+ADMIN_INI+"&c=hook&a=init&get_plugin_a=1&id={($this->id)}&plugin_c="+cv,
						  dataType:"json",
						  cache: false,
						  success: function(r){
						  	var rArr=[];
						  	$("#plugin_a option").remove();
						  	$(r).each(function(dx){
						  		rArr.push("<option value=\""+r[dx]+"\">"+r[dx]+"</option>");
						  	});
						  	$("#plugin_a").append(rArr.join(""));							  	
						  }
					});
			}); 
  });
</script>
</head>
<body>
	<form name="myform" id="myform" action="{act_url('hook','edit')}" method="post">
		<div class="common-form">
			  <table width="100%" class="table_form contentWrap">
		      <tr>
		        <th> 插件：</th>
		        <td class="tips">
		        	<select name="info[plugin_c]" id="plugin_c" >
		        	<foreach name="$cArr" item="$c" >
		        		<option value="{$c}" {($c==$plugin_c?'selected="selected"':'')}>{$c}</option>
		        	</foreach>
		        	</select>
		        	选择系统安装的插件 
		        </td>
		      </tr>
		      <tr>
		        <th> 动作：</th>
		        <td class="tips">
		        	<select name="info[plugin_a]" id="plugin_a" >
		        	<foreach name="$aArr" item="$a" >
		        		<option value="{$a}" {($a==$plugin_a?'selected="selected"':'')}>{$a}</option>
		        	</foreach>
		        	</select>
		        	选择此插件的方法 
		        </td>
		      </tr>
		      <tr>
		        <th class="tips"> 说明：</th>
		        <td class="tips">
		        	请先安装相关插件后，才可以选择应用的插件；<br/>
		        	选择插件后，然后选择动作（即此插件内声明为public的方法）；<br/>
		        	此处的插件方法会在系统特定位置执行，详细情况请查看此钩子的说明
		        </td>
		      </tr>
				</table>
				<input type="hidden" name="id" value="{($this->id)}">
				<input type="hidden" name="nid" value="{$nid}">
		</div>
	</form>
</body>
</html>