<div class="portfolio" id="port">
	<div class="service-head text-center">
		<h4>TA做过什么？</h4>
		<h3>我的 <span>作品</span></h3>
		<span class="border"></span>
	</div>
	<div class="portfolio-grids">
		<import file="easyResponsiveTabs.js"/>
		<script type="text/javascript">
			$(document).ready(function(){
				$('#horizontalTab').easyResponsiveTabs({
					type: 'default', //Types: default, vertical, accordion           
					width: 'auto', //auto or any width like 600px
					fit: true //100% fit in a container
				});
			});
		</script>
		<div class="sap_tabs">
			<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
				<ul class="resp-tabs-list">
					<li class="resp-tab-item" aria-controls="tab_item-0" role="tab"><span>ALL</span></li> 
					<li class="resp-tab-item" aria-controls="tab_item-1" role="tab"><span>WEB DESIGN</span></li> 
					<li class="resp-tab-item" aria-controls="tab_item-2" role="tab"><span>MOBILE UI</span></li> 				
					<li class="resp-tab-item" aria-controls="tab_item-3" role="tab"><span>ILLUSTRATIONS</span></li> 
				</ul>				  	 
				<div class="resp-tabs-container">
					<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-0">
						<div class="col-md-3 team-gd ">
							<a href="#portfolioModal" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal">
								<import file="pic4.jpg" alt=""/>
							</a>
						</div>
						<div class="col-md-3 team-gd ">
							<a href="#portfolioModal" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal">
								<import file="pic5.jpg" alt=""/>
							</a>
						</div>
						<div class="col-md-3 team-gd ">
							<a href="#portfolioModal" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal">
								<import file="pic9.jpg" alt=""/>
							</a>
						</div>
						<div class="col-md-3 team-gd ">
							<a href="#portfolioModal" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal">
								<import file="pic6.jpg" alt=""/>
							</a>
						</div>
						<div class="col-md-3 team-gd yes_marg ">
							<a href="#portfolioModal" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal">
								<import file="pic10.jpg" alt=""/>
							</a>
						</div>
						<div class="col-md-3 team-gd yes_marg ">
							<a href="#portfolioModal" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal">
								<import file="pic11.jpg" alt=""/>
							</a>
						</div>
						<div class="col-md-3 team-gd yes_marg ">
							<a href="#portfolioModal" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal">
								<import file="pic13.jpg" alt=""/>
							</a>
						</div>
						<div class="col-md-3 team-gd yes_marg ">
							<a href="#portfolioModal" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal">
								<import file="pic14.jpg" alt=""/>
							</a>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-1">
						<div class="col-md-3 team-gd ">
							<div class="thumb">
								<a href="#portfolioModal" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal">
									<import file="pic10.jpg" alt=""/>
								</a>
							</div>
						</div>
						<div class="col-md-3 team-gd  ">
							<div class="thumb">
								<a href="#portfolioModal" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal">
									<import file="pic11.jpg" alt=""/>
								</a>
							</div>
						</div>
						<div class="col-md-3 team-gd ">
							<a href="#portfolioModal" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal">
								<import file="pic13.jpg" alt=""/>
							</a>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-2">
						<div class="col-md-3 team-gd ">
							<a href="#portfolioModal" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal">
								<import file="pic9.jpg" alt=""/>
							</a>
						</div>
						<div class="col-md-3 team-gd ">
							<a href="#portfolioModal" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal">
								<import file="pic6.jpg" alt=""/>
							</a>
						</div>
						<div class="col-md-3 team-gd">
							<a href="#portfolioModal" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal">
								<import file="pic10.jpg" alt=""/>
							</a>
						</div>
						<div class="col-md-3 team-gd">
							<a href="#portfolioModal" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal">
								<import file="pic11.jpg" alt=""/>
							</a>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="tab-1 resp-tab-content" aria-labelledby="tab_item-3">
						<div class="col-md-3 team-gd ">
							<a href="#portfolioModal" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal">
								<import file="pic10.jpg" alt=""/>
							</a>
						</div>
						<div class="col-md-3 team-gd">
							<a href="#portfolioModal" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal">
								<import file="pic11.jpg" alt=""/>
							</a>
						</div>
						<div class="col-md-3 team-gd ">
							<a href="#portfolioModal" class="portfolio-link b-link-diagonal b-animate-go" data-toggle="modal">
								<import file="pic13.jpg" alt=""/>
							</a>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!--% portfolio %-->
<div class="portfolio-modal modal fade slideanim" id="portfolioModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content port-modal">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"></div>
            </div>
        </div>
        <div class="container">
			<div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <div class="modal-body">
						<h3>Image-Title</h3>
                        <import file="pic4.jpg" class="img-responsive img-centered" alt=""/>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--% /portfolio %-->