<include file="header">
<script src="http://res.wx.qq.com/open/js/jweixin-1.0.0.js"></script>
<script type="text/javascript">
	var connect_device="";
	wx.config({
		beta: true,//开启内测接口调用，注入wx.invoke方法
		debug: true, // 开启调试模式,调用的所有api的返回值会在客户端alert出来，若要查看传入的参数，可以在pc端打开，参数信息会通过log打出，仅在pc端时才会打印。
		appId: '{$weixin_js_api.appid}', // 必填，公众号的唯一标识
		timestamp: '{$weixin_js_api.timestamp}', // 必填，生成签名的时间戳
		nonceStr: '{$weixin_js_api.noncestr}', // 必填，生成签名的随机串
		signature: '{$weixin_js_api.signature}',// 必填，签名，见附录1
		jsApiList: [{$weixin_js_api.apilist}]
	});
	wx.ready(function(){
		wx.invoke(
			'openWXDeviceLib',
			{},
			function(res){
				if(typeof(onOpenWXDeviceLib)=="function"){
					onOpenWXDeviceLib(res);
				}
			}
		);
		wx.on('onWXDeviceStateChange', function(res) {
			debug(res);
			if(res.state=="connected"){
				connect_device=res.deviceId;
			}else if(res.state=="disconnected"){
				connect_device="";
			}
			document.getElementById(res.deviceId).html=res.state=="connecting"?"连接中...":(res.state=="connected"?"断开设备":"连接设备");
	  	});
		
		//监听接受到信息
		wx.on('onReceiveDataFromWXDevice', function(res) {
			debug(res);
	  	});
		
		wx.on('onScanWXDeviceResult',function(res){
			debug(res);
		});
		
		wx.on('onWXDeviceBluetoothStateChange',function(res){
		    debug(res);
		});
		wx.error(function(res){
		    debug(res);
		});
		
	});
	function debug(res){
		document.getElementById("debug_info").innerHTML=JSON.stringify(res);
	}
	
	function onOpenWXDeviceLib(res){
		var html="";
		for(var k in res){
			html+=k+":"+res[k]+"<br/>";
		}
		document.getElementById("device_info").innerHTML=html;
	}
	function getWXDeviceInfos(){
		wx.invoke(
				'getWXDeviceInfos',
				{},
				function(res){
					var device,html="";
					debug(res);
					if(res.err_msg=="getWXDeviceInfos:ok"){
						if(res.deviceInfos.length>0){
							for(var k in res.deviceInfos){
								device=res.deviceInfos[k];
								html+=k+':<input id="'+device.deviceId+'" onclick="switchWXDevice(this)" type="button" value="'+(device.state=="connected"?"断开设备":"连接设备")+'"/>';
							}
							document.getElementById("link_info").innerHTML=html;
						}
					}
				}
			);
	}
	function switchWXDevice(obj){
		var is_connected=obj.value=="断开设备",
			deviceid=obj.id;
		debug((is_connected?"disconnect:":"connect:")+deviceid+" ....");
		wx.invoke(
				(is_connected?"disconnectWXDevice":"connectWXDevice"),
				{'deviceId':deviceid},
				function(res){
					var device,html="";
					if(res.err_msg.split(":")[1]=="ok"){
						obj.value=is_connected?"连接设备":"断开设备";
						connect_device=is_connected?"":deviceid;
					}
					debug(res);
				}
			);
	}
	function sendDataToWXDevice(){
		var msg=base64(document.getElementById("send_text").value);
		alert(msg);
		if(connect_device!=""){
			wx.invoke(
				'sendDataToWXDevice', 
				{'deviceId':connect_device,'base64Data':msg}, 
				function(res){
					debug(res);
				}
			); 
		}else{
			alert("设备未连接！");
		}
	}
	function startScanWXDevice(){
		wx.invoke("startScanWXDevice",{},function(res){
			debug(res);
		});
	}
</script>
<p id="device_info"></p>
<input type="button" value="获取设备信息" onclick="getWXDeviceInfos()"/><br/>
<input type="button" value="扫描设备信息" onclick="startScanWXDevice()"/><br/>
<div id="link_info"></div>
<input type="text" id="send_text" />
<input type="button" value="发送" onclick="sendDataToWXDevice()"/><br/>
<div id="debug_info"></div>
<include file="footer">