<include file="header">
<script type="text/javascript">
var socket;

$(function(){
	//var host = "ws://127.0.0.1:8888/";
    var host = "ws://180.76.169.237:8888/";
    try {
        socket = new WebSocket(host);
        socket.onopen = function (msg) {
            log('Connected');
        };
        socket.onmessage = function (msg) {
            log(msg.data);
        };
        socket.onclose = function (msg) {
            log("Lose Connection!");
        };
    } catch (ex) {
        log(ex);
    }
    $("#content").focus();
});

function send() {
    var msg;
    msg = $("#content").val();
    if (!msg) {
        alert("Message can not be empty");
        return;
    }
    $("#content").val("");
    $("#content").focus();
    try {
        socket.send(msg);
    } catch (ex) {
        log(ex);
    }
    //disconnect();
}
function disconnect() {  
    if (socket != null) {  
    	socket.close();  
    	socket = null; 
    }  
} 

function log(msg) {
	$("#txtResult").val(msg+"\n"+$("#txtResult").val());
}
function onkey(event) {
    if (event.keyCode == 13) {
        send();
    }
}
</script>
<style type="text/css">
	.conent{
		width:100%;border:1px solid #aeaeae;height:2em;
	}
	.button input{
		border:1px solid #efefef;padding:5px 8px;
	}
	.result{
		width:100%;height:10em;
	}
</style>
<div class="main">
	<p>
		<input type="text" id="content" class="conent"/>
	</p>
	<p class="button">
		<input type="button" onclick="send()" value="发送"/>
		<input type="button" onclick="disconnect()" value="关闭"/>
	</p>
	<textarea id="txtResult" class="result"></textarea>
</div>
<include file="footer">