<include file="header">
<link rel="stylesheet" type="text/css" href="{($url)}css/index.css?v=1.6" />
<img id="video" class="video"/>
<div class="info" id="info"></div>
<ul class="buttons">
	<li class="w100"><a class="forward" onclick="dispose('act',1)">▲︎</a></li>
	<li onclick="dispose('act',5)" ondblclick="alert(1)" class="left">◀︎︎</li>
	<li onclick="dispose('act',0)" class="stop">◉︎︎</li>
	<li onclick="dispose('act',6)" ondblclick="alert(2)" class="right">▶︎︎</li>
	<li class="w100">
		<a onclick="dispose('act',3)" class="speed-up">⇡</a>
		<a onclick="dispose('act',2)" class="back">▼︎</a>
		<a onclick="dispose('act',4)" class="speed-down">⇣</a>
	</li>
</ul>
<div class="writer" id="writer">
	<input type="button" class="button" onclick="$('#writer').hide()" value="关闭"/>
	<input type="button" class="button" id="send_msg" value="发送"/>
	<input type="text" class="input" id="text_msg"/>
</div>
<div class="tools">
	<a id="recoder">✤</a>
	<a id="message" onclick="$('#writer').show()">✐</a>
	<a id="led">◼︎</a>
	<a id="buzzer">✪︎</a>
</div>
<div class="debug" {(isset($_GET['debug'])&&$_GET['debug']?'':'style="display:none;"')}></div>
<script type="text/javascript" src="{($url)}js/socket.js?v={(time())}"></script>
<include file="footer">
