<include file="header">
<ul class="buttons">
	<li onclick="sendToBle('100')" class="red">电源</li>
	<li onclick="sendToBle('101')" class="blue">静音</li>
	<li onclick="sendToBle('102')" class="lred">上一台</li>
	<li onclick="sendToBle('103')" class="red">下一台</li>
	<li onclick="sendToBle('104')" class="red">音量+</li>
	<li onclick="sendToBle('105')" class="blue">音量-</li>
</ul>
<div class="debug"></div>
<script type="text/javascript" src="{($url)}js/index.js?v={(time())}"></script>
<include file="footer">
