<!DOCTYPE html>
<html lang="zh-cmn-Hans">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>{$title}</title>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="安房管家" />
 	<link rel="stylesheet" href="{$url}css/weui.min.css?v=1.0"/>
	<link rel="stylesheet" href="{$url}css/common.css?v=1.1"/>
    <script src="{$url}js/zepto.min.js"></script>
    <script src="{$url}js/pageScroller.js?v={time()}"></script>
</head>
<body ontouchstart>