<include file="header"/>
<if condition="$is_authed">
<div class="container" id="container">
<div class="page panel js_show">
    <div class="page__bd">
        <div class="weui-panel weui-panel_access">
            <div class="weui-panel__bd weui-media-box weui-media-box_appmsg">
                <div class="weui-media-box__hd">
                    <img style="border-radius:50%" class="weui-media-box__thumb" src="{$user_info.avatar}" onerror="this.src='{$url}images/avatar.jpg'" alt="">
                </div>
                <div class="weui-media-box__bd">
                    <h4 class="weui-media-box__title">{$user_info.nickname}</h4>
                    <p class="weui-media-box__desc">当前共有{$user_info.tenant}个租客</p>
                </div>
            </div>
        </div>
       
        <div class="weui-panel">
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_small-appmsg">
                    <div class="weui-cells">
                        <a class="weui-cell weui-cell_access" href="{U(':user?type=tenant')}">
                            <!--% <div class="weui-cell__hd"><img src="" alt="" style="width:20px;margin-right:5px;display:block"></div> %-->
                            <div class="weui-cell__bd weui-cell_primary">
                                <p>住户信息管理</p>
                            </div>
                            <span class="weui-cell__ft"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="weui-panel">
            <div class="weui-panel__bd">
                <div class="weui-media-box weui-media-box_small-appmsg">
                    <div class="weui-cells">
                        <a class="weui-cell weui-cell_access" href="{U(':user?type=alarm')}">
                           <!--% <div class="weui-cell__hd"><img src="" alt="" style="width:20px;margin-right:5px;display:block"></div> %-->
                            <div class="weui-cell__bd weui-cell_primary">
                                <p>报警信息管理</p>
                            </div>
                            <span class="weui-cell__ft"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</if>
<include file="footer"/>
