<include file="head" type="true"/>
<style type="text/css">
	body,html{_overflow-x:hidden;}
  .container-cnt textarea{
    height:400px;
    width:99%;
    font-size:14px;
    line-height:18px;
  }
  .container-cnt .alert{
    margin-top:5px;
  }
  .type_info span{
  	display:inline-block;padding:2px 10px;
    color:#666;vertical-align:middle;line-height:30px;
    border:1px solid #eee;
    background:#f6f6f6;
  }
  .type_info input{
    height:18px;line-height:18px;
  }
  .type_info .txt{
    border:1px solid #d0d0d0;
  }
  .disabled{color:#999;text-decoration:line-through;}
</style>
<script type="text/javascript" src="<?php echo $this->url;?>js/admin.js">
</script>
</head>
<body>
	<style type="text/css">
		.table_form td{color:#444;}
	</style>
	<div class="container-cnt pad-10">
	  <table width="100%" class="table_form contentWrap">
	  	<tr>
	       <th> 姓　名：</th>
	       <td><?php echo $name;?></td>
	     </tr>
	     <tr>
	       <th> 来　自：<input id="comeIP" type="hidden" value="<?php echo $ip;?>"/></th>
	       <td id="comePlace">加载中...</td>
	     </tr>
	     <tr>
	       <th> 内　容：</th>
	       <td style="height:40px;"><?php echo $content;?></td>
	     </tr>		      
	     <tr>
	       <th> 电　话：</th>
	       <td><?php echo $tel;?></td>
	     </tr>		
	     <tr>
	       <th> 邮　箱：</th>
	       <td ><?php echo $email;?></td>
	     </tr>
	     <tr>
	       <th> 咨询时间：</th>
	       <td ><?php echo date('Y-m-d h:i:s',$addtime);?></td>
	     </tr>
		</table>
	</div>
</body>
</html>