<div class="qq_left">
	<a href="tencent://message/?uin=402085437&Site=红太阳网络建设&Menu=yes"
		target="subframe" title="点击进行业务咨询"><img alt="点击进行业务咨询"
		src="{STYLE_URL}images/qq.gif"></a> <a
		href="tencent://message/?uin=402085437&Site=红太阳网络建设&Menu=yes"
		target="subframe" title="点击进行业务咨询"><img alt="点击进行业务咨询"
		src="{STYLE_URL}images/qq.gif"></a> <a title="点击通过MSN交谈"
		href="msnim:chat?contact=spring.wind2006@163.com" target="subframe">
		<img src="{STYLE_URL}images/msn.gif">
	</a> <br /> <img src="{STYLE_URL}images/timer.gif" /><br />
	<br /> <a href="{$SITE.url}#contact" title="给我们留言"><img
		src="{STYLE_URL}images/btn_book.gif" /></a>
</div>
<ul class="links">
	<li class="links_tl">--友情链接--</li>
	<li><a href="http://www.yuxiweibo.net" title="维博网络科技有限公司"
		target="_blank">维博网络</a></li>
	<li><a href="http://www.china-daoran.com" title="云南玉溪道然企业管理咨询有限公司"
		target="_blank">道然咨询</a></li>
</ul>