
<div id="footer">
	<div class="botWrap">
		<div class="copy">
			<a href="{ROOT_URL}">首页</a> &nbsp;&nbsp;|&nbsp;&nbsp;<a
				href="{cat_url(1)}">关于我们</a> &nbsp;&nbsp;|&nbsp;&nbsp;<a
				href="{cat_url(2)}">案例展示</a> &nbsp;&nbsp;|&nbsp;&nbsp;<a
				href="{cat_url(4)}">服务项目</a> &nbsp;&nbsp;|&nbsp;&nbsp;<a
				href="{ROOT_URL}#contact">联系</a> <BR />红太阳网络影相工作室设计 REDSUN NETWORK
			SHADE DESIGN STUDIO. 保留所有权利.<BR />
		</div>
		<div class="icp">
			<span style="font-size: 10px">Copyright ® 2008 - 2014 . All
				Rights Reserved.</span> <a href="http://www.miibeian.gov.cn/">{$SITE.icp}</a>
			<br /> | <a href="{$SITE.url}">红太阳网站建设 </a> | <a href="{$SITE.url}">网络营销</a>
			| <a href="{$SITE.url}">网络设计工作室 </a> | <a href="http://www.stwms.top"
				target="_blank">深拓网络管理系统</a> |
		</div>
		<div style="display: none">{$SITE.statistics}</div>
	</div>
</div>
</body>
</html>