<template file="header" />
<div class="wraper">
	<div class="mWraper">
		<!--<div class="mask_tl"></div>-->
		<!--侧边栏-->
		<div class="sideBar">
			<h1>
				<img src="{STYLE_URL}images/title_about.gif" />
			</h1>
			<br />
			<div class="clear"></div>
			<include file="left" />
		</div>
		<!--//侧边栏-->

		<div class="main">
			<div class="content">
				<P>红太阳网络，一个集网站品牌创意设计、互动策略与服务推广于一体的整合机构。</P>
				<P>
					通过在网站互动设计领域的专注努力，和多个客户项目的历练。我们对各种行业和类型的客户的理解，项目的整体策划控制，国际化标准和流行趋势，对客户形象的视觉传递等方方面面都进行了深入的研究和拥有丰富的经验。我们始终秉承原创设计的理念，把新的设计思维与设计方向带给客户，量身定制，赋予客户耳目一新的创新设计与概念，帮助您在复杂的网络环境中脱颖而出。多年来，通过与新老客户的沟通与合作，我们在业内树立了良好的口碑...
				</P>
				<P>&nbsp;</P>
				<P>
					<STRONG><FONT style="FONT-SIZE: 14px">务实创新</FONT></STRONG> <BR>
					以务实创新精神理念,服务与满足不同用户需求，保持创新，追求精品；<BR> <FONT
						style="FONT-SIZE: 14px"><STRONG>成人达已</STRONG></FONT> <BR>
					为客户提供高质量的服务，最大限度地满足客户的需求，携手共创“双赢”；<BR> <STRONG><FONT
						style="FONT-SIZE: 14px">成就客户价值观</FONT></STRONG> <BR>
					不间断追求，不间断服务，真诚会客忠诚待客方能与客成为忠诚可靠的合作伙伴。
				</P>
				<P>
					<BR> 我们期待与您的合作，并且在合作中见证我们的努力，我们相信共同的努力，能够找到一个适合您的解决方案。
				</P>
				<P>相信我们的创意设计绝对超出您的期待...</P>
				<P>&nbsp;</P>
			</div>
			<div class="goTop">
				<a href="#"><img src="{STYLE_URL}images/btn_goTop.gif" /></a>
			</div>
		</div>
		<div class="clear"></div>
	</div>
</div>
<template file="footer" />