<div class="banner-info">
	<div class="col-md-7 header-right">
		<h1>Hi! 欢迎您的到来！</h1>
		<h6>这是我的个人资料</h6>
		<ul class="address">
			<li>
				<ul class="address-text">
					<li><b>姓 名</b></li>
					<li>谢春平</li>
				</ul>
			</li>
			<li>
				<ul class="address-text">
					<li><b>网 名 </b></li>
					<li>红云飞</li>
				</ul>
			</li>
			<li>
				<ul class="address-text">
					<li><b>出生日期</b></li>
					<li>10-1986</li>
				</ul>
			</li>
			
			<li>
				<ul class="address-text">
					<li><b>现居地 </b></li>
					<li>北京 ∙ 海淀</li>
				</ul>
			</li>
			<li>
				<ul class="address-text">
					<li><b>QQ号码 </b></li>
					<li>402085437</li>
				</ul>
			</li>
			<li>
				<ul class="address-text">
					<li><b>E-MAIL </b></li>
					<li><a href="mailto:redcloud@h928.com"> redcloud@h928.com</a></li>
				</ul>
			</li>
			<li>
				<ul class="address-text">
					<li><b>网 址 </b></li>
					<li><a href="http://www.h928.com">http://www.h928.com</a></li>
				</ul>
			</li>
		</ul>
	</div>
	<div class="col-md-5 header-left">
		<import file="img1.jpg" alt=""/>
	</div>
	<div class="clearfix"> </div>
</div>