<include file="admin/head"/>
</head>
<body>
	<div class="subnav">
	    <div class="content-menu">
	      <a href="javascript:deal('role.init')">角色管理</a>
	      <span>|</span>
	      <a href="javascript:" onclick="top.win.diag('role.add',{'tl':'添加角色','w':480,'h':210})">添加角色</a>
	    </div>
	</div>
	<form name="myform" action="?{ADMIN_INI}&c=user&a=listorder" method="post">
			<div class="table-list">
			    <table width="100%" cellspacing="0">
			        <thead>
			            <tr>
				            <th width="60">排序</th>
				            <th width="80">ID</th>
				            <th>用户名称</th>
				            <th>所属角色</th>
				            <th>最近登录IP</th>
				            <th>最近登录时间</th>
				            <th>E-mail</th>
				            <th>真实姓名</th>
				            <th>状态</th>
				            <th>管理操作</th>
			            </tr>
			        </thead>
							<tbody>
								<foreach name="$data" item="$vl" >
									<tr>
										<td align='center'><input name='listorders[{$vl['id']}]' type='text' size='3' value='{$vl['listorder']}' class='input-text-c'></td>
										<td align='center'>{$vl['id']}</td>
										<td >{$vl['username']}</td>
										<td align='center'>{$roles[$vl['roleid']]['name']}</td>
										<td align='center'>{(!empty($vl['ip']) ? $vl['ip'] : '-')}</td>
										<td align='center'>{(!empty($vl['time']) ? date('Y-m-d H:i:s',$vl['time']) : '-')}</td>
										<td align='center'>{$vl['email']}</td>
										<td align='center'>{$vl['truename']}</td>
										<td align='center'>
										<if condition="$vl['id']==$_SESSION['userid']">
											<if condition="$vl['lock']">
												<span style="color:red;font-size:15px;font-weight:bold;">×</span>
											<else/>
												<span style="color:green;font-size:14px;font-weight:bold;" href="javascript:">√</span>
											</if>
										<else/>
											<if condition="$vl['lock']">
												<a href="javascript:deal('user.lock','id={$vl['id']}&lock=0')" style="color:red;font-size:15px;font-weight:bold;">×</a>
											<else/>
												<a style="color:green;font-size:14px;font-weight:bold;" {($vl['id']!=1 ? 'href="javascript:deal(\'user.lock\',\'id='.$vl['id'].'&lock=1\')"':'')}>√</a>
											</if>
										</if>
										</td>
										<td align='center'>
											<if condition="$vl['id']==1||$vl['id']==$_SESSION['userid']">
											  <if condition="$vl['id']!=$_SESSION['userid']">
											    <a href="javascript:" onclick="top.win.diag('user.edit','id={$vl['id']}',{'tl':'修改用户信息','h':315,'w':550})">修改</a>|
											  <else/>
											    <span style="color:#999">编辑</span>
											  </if>
											  <span style="color:#999">删除</span>
											<else/>
												<a href="javascript:" onclick="top.win.diag('user.edit','id={$vl['id']}',{'tl':'修改用户信息','h':315,'w':550})">修改</a>|
												<a href="javascript:deal('user.del','id={$vl['id']}',1)">删除</a>
											</if>
										</td>
									</tr>
                </foreach>
							</tbody>
			    </table>
			    <div class="btn"><input type="submit" class="button" name="dosubmit" value="排序" /></div>
		  </div>
	</form>
</body>
</html>