<include file="header">
<link rel="stylesheet" type="text/css" href="{($url)}css/index.css?v=1.1" />
<ul class="buttons">
	<li onclick="sendToBle('1')" class="red">前进</li>
	<li onclick="sendToBle('2')" class="blue">后退</li>
	<li onclick="sendToBle('3')" class="lred">加速</li>
	<li onclick="sendToBle('4')" class="red">减速</li>
	<li onclick="sendToBle('5')" class="red">左转</li>
	<li onclick="sendToBle('6')" class="lred">右转</li>
	<li onclick="sendToBle('0')" class="blue w100">停止</li>
	<li onclick="sendToBle('7')" class="lred w100">自动行驶</li>
</ul>
<div class="debug"></div>
<script type="text/javascript" src="{($url)}js/index.js?v={(time())}"></script>
<include file="footer">
